*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/assets/Jalnan.ttf
app/src/main/assets/station.json
app/src/main/assets/station_line_1.json
app/src/main/assets/station_line_2.json
app/src/main/assets/station_line_3.json
app/src/main/assets/station_line_4.json
app/src/main/assets/station_line_5.json
app/src/main/assets/station_line_6.json
app/src/main/assets/station_line_7.json
app/src/main/assets/station_line_8.json
app/src/main/assets/station_line_9.json
